@media (max-width: 1120px) {  /*  1120  */
  .features__inner {
    flex-wrap: wrap;
  }
  .features__item {
    width: 50%;
    padding-right: 70px;
  }
}
@media (max-width: 1040px) {  /*  1040  */
  .top__inner-img {
    margin-left: 0;
}
@media (max-width: 1000px) {     /*  1000  */
  .list__inner {
    display: block;
  }
  .tabs__content {
    margin-top: 0;
  }
} 
@media (max-width: 940px) {   /*  940  */
  .top__inner-form {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .features__inner {
    padding-top: 100px;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 280px;
    margin-right: 100px;
  }
  .top__inner-title {
    line-height: 56px;
  }
  .top__inner-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {   /*  768  */
  .header__text {
    font-size: 14px;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    margin-right: 75px;
  }
  .top__inner-suptitle {
    margin-top: 24px;
    margin-bottom: 21px;
  }
  .top__inner-title {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .top__inner-text {
    padding-right: 48px;
    margin-bottom: 59px;
  }
  .top__inner-form {
    right: 8px;
  }
  .features__inner {
    padding-top: 11px;
    padding-left: 75px;
  }
  .features__item {
    padding-right: 70px;
  }
  .features__item:first-child,
  .features__item:nth-child(2) {
    margin-bottom: 70px;
  }
}
@media (max-width: 760px) {   /*  760  */
  .top__inner-img img {
    width: 200px;
  }
  .features__inner {
    padding-top: 180px;
    padding-left: 0;
  }
}
@media (max-width: 700px) {   /*  700  */
  .header__text {
    display: none;
  }
}
@media (max-width: 640px) {   /*  640  */
  .top__inner-form {
    left: 30px;
  }
  .top__inner-img img {
    width: 150px;
  }
  .top__inner-img {
    order: 1;
  }
  .mobile__link-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 23px 15px 23px 15px;
  }
  .top-form {
    display: none;
  }
  .top__inner-text {
    display: none;
  }
  .top__inner-form {
    position: static;
    align-items: center;
    text-align: center;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 100%;
    margin-right: 0;
  }
  .top__inner {
    flex-direction: column;
    align-items: center;
  }
  .features__inner {
    padding-top: 10px;
  }
  .features__item {
    padding-right: 30px;
  }
}
@media (max-width: 600px) {   /*  600  */
  .top__inner-img img {
    width: 85px;
  }
  .features__inner {
    padding-top: 140px;
  }
  .features__item {
    width: 100%;
  }
  .features__item:first-child,
  .features__item:nth-child(2) {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {   /*  480  */
  .header__phone {
    font-size: 14px;
  }
  .header__phone a::before {
    display: none;
  }
  .header__phone-text {
    display: none;
  }
  .header__logo img {
    width: 110px;
  }
}
@media (max-width: 360px) {   /*  360  */
  .top__images {
    min-height: 375px;
  }
  .top__inner-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
    padding: 0 25px;
  }
  .top__inner-suptitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
.top__wrapper {
    margin-top: -365px;
  }
  .features__inner {
    padding-top: 32px;
  }
  .features__item {
    padding-bottom: 20px;
  }
}
@media (max-width: 360px) {   /*  320  */
  .top__inner-suptitle {
    margin-top: 17px;
    margin-bottom: 4px;
  }
  .top__inner-title {
    margin-bottom: 25px;
  }  
  .mobile__link-btn {
    padding: 18px 15px 18px 15px;
    font-size: 12px;
  }
  .features__item {
    padding-bottom: 2px;
    padding-left: 29px;
  }
  .features__item::before {
    display: none;
  }
  .features__item-title span {
    font-size: 24px;
  }
}