@media (max-width: 1640px) {     /*  1640  */
  .popularity__right {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 0;
  }
}
@media (max-width: 1400px) {     /*  1400  */
  .popularity__wrapper {
    background-size: 750px;
  }
}
@media (max-width: 1230px) {    /*  1230  */
  .popularity__wrapper {
    background-image: none;
  }
  .popularity__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} 
@media (max-width: 1120px) {  /*  1120  */
  .features__inner {
    flex-wrap: wrap;
  }
  .features__item {
    width: 50%;
    padding-right: 70px;
  }
}
@media (max-width: 1040px) {  /*  1040  */
  .top__inner-img {
    margin-left: 0;
}
@media (max-width: 1000px) {     /*  1000  */
  .features {
    margin-bottom: 87px;
  }
    .list__inner {
    display: block;
    padding-bottom: 0;
  }
  .tabs__content {
    margin: 0 auto;
    max-width: 500px;
  }
  .tabs__reviews {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .tabs__reviews::after,
  .tabs__reviews::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20px;
    z-index: 2;
  }
  .tabs__reviews::after {
    left: 100%;
  }
  .tabs__reviews::before {
    right: 100%;
    bottom: 0;
  }
  .tabs__content::before,
  .tabs__content::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a4c58c;
    z-index: 1;
  }
  .tabs__content::before {
    right: 100%;
  }
  .tabs__content::after {
    left: 100%;
  }
  .list__link {
    justify-content: center;
  }
  .list__link a {
    margin-top: 40px;
    min-width: 417px;
    padding: 22px 76px 22px 86px;
  }
  .list__link a::after {
    right: 60px;
  }
  .tabs__reviews-link {
    left: 143px;
  }
} 
@media (max-width: 940px) {   /*  940  */
  .top__inner-form {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .features__inner {
    padding-top: 100px;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 280px;
    margin-right: 100px;
  }
  .top__inner-title {
    line-height: 56px;
  }
  .top__inner-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {   /*  768  */
  .header__text {
    font-size: 14px;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    margin-right: 75px;
  }
  .top__inner-suptitle {
    margin-top: 24px;
    margin-bottom: 21px;
  }
  .top__inner-title {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .top__inner-text {
    padding-right: 48px;
    margin-bottom: 59px;
  }
  .top__inner-form {
    right: 8px;
  }
  .features {
    margin-bottom: 87px;
  }
  .features__inner {
    padding-top: 11px;
    padding-left: 75px;
  }
  .features__item {
    padding-right: 70px;
  }
  .features__item:first-child,
  .features__item:nth-child(2) {
    margin-bottom: 70px;
  }
  .list__title {
    max-width: 340px;
    padding-top: 49px;
    margin: 0 auto;
    margin-bottom: 44px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .tabs .tab {
    margin-left: 34px;
  }
  .tabs__box .tab {
    padding-top: 23px;
    width: 45%;
  }
  .tabs__box .tab:first-child,
  .tabs__box .tab:nth-child(3) {
    padding-right: 6px;
  }
}
@media (max-width: 760px) {   /*  760  */
  .top__inner-img img {
    width: 200px;
  }
  .features__inner {
    padding-top: 180px;
    padding-left: 0;
  }
  .tabs__box .tab:last-child,
  .tabs__box .tab:nth-child(2) {
    padding-left: 0px;
  }
}
@media (max-width: 746px) {   /*  746  */
  .tabs__box .tab:first-child,
  .tabs__box .tab:nth-child(3) {
    border-right: none;
  }
  .tabs__box .tab {
    width: 100%;
  }
  .tab-order-0 {
    order: 0;
  }
  .tab-order-1 {
    order: 1;
  }
  .tab-order-2 {
    order: 2;
  }
  .tab-order-3 {
    order: 3;
  }
}
@media (max-width: 700px) {   /*  700  */
  .header__text {
    display: none;
  }
}
@media (max-width: 640px) {   /*  640  */
  .top__inner-form {
    left: 30px;
  }
  .top__inner-img img {
    width: 150px;
  }
  .top__inner-img {
    order: 1;
  }
  .mobile__link-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 23px 15px 23px 15px;
  }
  .top-form {
    display: none;
  }
  .top__inner-text {
    display: none;
  }
  .top__inner-form {
    position: static;
    align-items: center;
    text-align: center;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 100%;
    margin-right: 0;
  }
  .top__inner {
    flex-direction: column;
    align-items: center;
  }
  .features__inner {
    padding-top: 10px;
  }
  .features__item {
    padding-right: 30px;
  }
}
@media (max-width: 600px) {   /*  600  */
  .top__inner-img img {
    width: 85px;
  }
  .features__inner {
    padding-top: 140px;
  }
  .features__item {
    width: 100%;
  }
  .features__item:first-child,
  .features__item:nth-child(2) {
    margin-bottom: 0;
  }
}
@media (max-width: 550px) {   /*  550  */
  .tabs__content {
    height: 161px;
    background-image: none;
  }
  .tabs__content::before,
  .tabs__content::after {
    display: none;
  }
  .tab-order-3 {
    border-bottom: none;
  }
  .tabs__reviews {
    position: static;
    margin: 0;
  }
}
@media (max-width: 480px) {   /*  480  */
  .header__phone {
    font-size: 14px;
  }
  .header__phone a::before {
    display: none;
  }
  .header__phone-text {
    display: none;
  }
  .header__logo img {
    width: 110px;
  }
  .list__title {
    font-size: 24px;
    line-height: 30px;
  }
  .tabs .tab {
    font-size: 12px;
  }
  .tabs__box .tab {
    font-size: 14px;
  }
}
@media (max-width: 360px) {   /*  360  */
  .top__images {
    min-height: 375px;
  }
  .top__inner-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
    padding: 0 25px;
  }
  .top__inner-suptitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .top__wrapper {
    margin-top: -365px;
  }
  .features__inner {
    padding-top: 32px;
  }
  .features__item {
    padding-bottom: 20px;
  }
  .features {
    margin-bottom: 0px;
  }
  .tabs {
    padding-right: 0;
    margin-bottom: 17px;
  }
  .tabs__reviews {
    padding: 0;
    max-width: 283px;
  }
  .tabs__reviews-text {
    font-size: 14px;
  }
  .tabs__reviews-inner {
    padding: 33px 3px 35px 12px;
  }
  .tabs__reviews-link {
    left: 73px;
  }
  .tab {
    padding: 24px 0;
  }
  .tab.active::after {
    display: none;
  }
  .tab-item {
    display: none;
  }
  .tab-item:first-child {
    display: none;
  }
  .tabs .tab {
    margin-left: 0;
  }
  .tabs__box .tab {
    line-height: 24px;
  }
  .list__title {
    margin-bottom: 21px;
  }
  .top__inner-suptitle {
    margin-top: 17px;
    margin-bottom: 4px;
  }
  .top__inner-title {
    margin-bottom: 25px;
  }  
  .mobile__link-btn {
    padding: 18px 15px 18px 15px;
    font-size: 12px;
  }
  .features__item {
    padding-bottom: 2px;
    padding-left: 29px;
  }
  .features__item::before {
    display: none;
  }
  .features__item-title span {
    font-size: 24px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .list__link a {
    font-size: 12px;
    margin-top: 11px;
    min-width: 417px;
    padding: 22px 10px 22px 10px;
    text-align: center;
  }
  .list__link a::after {
    display: none;
  }
}